.WeatherUpdate h2 {
  line-height: 1.5;
  font-size: 66px;
  font-weight: 900;
  margin: 0;
}

.WeatherUpdate .units {
  font-size: 14px;
  font-weight: 700;
  line-height: 4;
}

.WeatherUpdate ul {
  list-style: none;
  text-align: center;
}

.WeatherUpdate li {
  font-weight: 700;
  letter-spacing: 1px;
}
.WeatherUpdate li::first-letter {
  text-transform: capitalize;
}
