.WeatherUpdate h1 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.WeatherUpdate .country {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
}

.WeatherUpdate ul {
  font-weight: 600;
  line-height: 1.5;
  padding: 0;
}
.WeatherUpdate .dayAndTime li {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.WeatherUpdate h2 {
  line-height: 1;
  font-size: 66px;
  font-weight: 900;
  margin: 0;
}

.WeatherUpdate canvas {
  line-height: 4;
}

.WeatherUpdate .units {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
}

.WeatherUpdate ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  text-align: center;
}

.WeatherUpdate li {
  font-weight: 700;
  letter-spacing: 1px;
}
.WeatherUpdate li::first-letter {
  text-transform: capitalize;
}

@media (max-width: 578px) {
  .WeatherUpdate {
    display: inline-block;
    text-align: center;
  }

  .WeatherUpdate .cityInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .WeatherUpdate .currentTemp {
    justify-content: center;
  }
}
